*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

/*slider*/

.swiper {
    width: 240px;
    height: 360px;
  }

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
  }

.swiper-slide:nth-child(1n) {
    background-color: gray;
  }

.swiper-slide:nth-child(2n) {
    background-color: #8F3985;
  }

.swiper-slide:nth-child(3n) {
    background-color: #25283D;
  }
